.downloads {
  min-height: var(--altezza-corpo);
  h5 {
    text-align: center;
    background-color: var(--colore-primario);
    margin-bottom: 0 !important;
    color: var(--bianco);
    padding: var(--unita-base) 0;
  }
}

.download-magazines {
  background-color: var(--grigio);
  .download-link {
    height: 100%;
    img {
      width: 100%;
    }
  }
}
