a {
  color: unset;
}

/* h2,
h4 {
  font-weight: 700;
  color: var(--colore-primario);
} */

.row {
  align-items: center;
  margin: 20px 0;
}

.upper {
  font-size: 18px;
}

#reparto {
  padding: 15px;
}

.response-message {
  font-size: 20px;
}
