.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.product-image:hover,
.product-name:hover {
  cursor: pointer;
}

.product-name {
  text-decoration: underline;
}

.grid-item {
  border: 3px solid var(--verde);
  text-align: center;
  aspect-ratio: 1 / 1; /* Ensures the grid items are square */
  position: relative; /* Required for positioning the image inside */
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute; /* Ensures the image covers the entire grid item */
  top: 0;
  left: 0;
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr); /* Maximum 6 items per row */
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* Full width on very small screens */
  }
}
