footer {
  background-color: var(--colore-primario);

  .row {
    align-items: start;
  }
  h4 {
    color: var(--bianco);
    font-size: calc(var(--unita-base) * 1.7);
  }
}

footer a {
  text-decoration: none;
  color: var(--bianco);
}

@media screen and (max-width: 576px) {
  footer {
    .container {
      text-align: center;
    }
  }
}
