.searchbar {
  border: 0;
  background-color: var(--grigio);
  border-radius: 50px;
}

.input-group {
  padding: calc(var(--unita-base) / 2);
}

.searchbar:focus {
  outline: none;
}

#lens {
  background-color: var(--grigio);
  border-radius: 0 50px 50px 0;
  color: var(--colore-primario);
}
