.searchbar {
  border: 0;
  background-color: var(--grigio) !important;
  border-radius: 50px;
  flex-wrap: nowrap;
  padding: 2px !important;
}

#lens {
  background-color: var(--grigio);
  border-radius: 0 50px 50px 0;
  color: var(--colore-primario);
}

/* @media screen and (max-width: 1192px) {
  .searchbar {
    visibility: visible;
  }
   .input-group {
    display: none !important;
  }
} */
