.pop {
  max-width: 1650px;
  .text {
    color: rgb(82, 86, 89);
    font-size: calc(var(--unita-base) * 2);
  }

  p {
    margin: 10px 0;
    font-size: 18px;
  }

  ul {
    font-size: 18px;
  }

  li {
    list-style: disc;
    list-style-position: inner;
  }

  img {
    width: 105%;
    height: 105%;
    object-fit: cover;
  }
  .left {
    img {
      width: 100%;
      height: 100%;
    }
    color: var(--verde);
    display: flex;
    align-items: center;
    .pop-title {
      font-size: calc(var(--unita-base) * 7);
      span {
        font-weight: 900;
      }
    }
  }
  .right {
    .desc {
      width: 100%;
      height: 100%;
    }
  }

  .last {
    margin-bottom: calc(var(--unita-base) * 5);
  }
}

.prodotti a {
  color: var(--colore-primario);
  text-decoration: underline;
}

.codice:first-of-type {
  color: var(--colore-primario);
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .pop {
    padding: 20px;
    .left {
      .pop-title {
        font-size: calc(var(--unita-base) * 5);
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
